@media only screen and (max-width: 980px) {

.flag-container {
    height: 380px;
}

#flag {
    height: 380px;
    width: 100%
}

.all-content-container1 {
    width: 75%;
}

#above-left {
    width: 38%;
}

#above-right {
    width: 62%;
    padding-top: 50px;
}

#blue-background1, #red-background1, #candidate-statement {
    width: 100%
}
}

@media only screen and (max-width: 768px) {

.all-content-container {
    width: 95%;
}

.all-content-container1 {
    width: 95%;
}


}

@media only screen and (max-width: 640px) {

}



/* #img-back */
