* {
    box-sizing: border-box;
}

.all-content-container {
    width: 75%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.all-content-container1 {
    width: 85%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

body {
    background-color: #960d1d;
    background-size: cover;
    font-family: 'Playfair Display', serif;
    z-index: -3;
}

#img-back {
    background-image: url('./images/flag6.jpg');
    opacity: .1;
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

#flag {
    width: 60%;
    height: 474px;
    opacity: .8;
    border-left: 1.5px solid #203064;
}

.flag-container {
        background: white;
        width: 100%;
        height: 474px;
}

.header {
    width: 100%;
    height: 60px;
    background: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px; 
    border: 1.5px solid #203064;
}

.grid-container-header {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    width: 100%;
    height: 90px;
    margin-right: auto;
    margin-left: auto;
}

.hlink {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 20px;
    color: #203064;
    padding-top: 19px;
    text-decoration: none;
}

a.hlink:hover {
    color: #960d1d;
    font-weight: bold;
    font-size: 25px;
}

#linda-header {
    color: white;
}

#school-board-header {
    color: white;
    margin-top: -17px;
}

#above-header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#above-left {
    width: 40%;
}

#above-right {
    font-family: 'Dancing Script', cursive;
    color: white;
    padding-top: 13px;
    width: 60%;
    text-align: right;
}

#linda-pic {
    position: absolute;
    z-index: 1;
    width: 27%;
    left: 10%;
    top: 197px;
}

#blue-background {
    background-color: #203064;
    width: 100%;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
}

#blue-background1 {
    background-color: #203064;
    width: 60%;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
}

#red-background1 {
    background-color: white;
    width: 60%; 
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    border: 1.5px solid #203064;
    border-top: none;
    border-right: none;
}

#red-background {
    background-color: white;
    width: 100%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
}

.link2 {
    text-align: center;
    color: white;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    font-size: 25px;
    padding-top: 22px;
}

a.link2:hover {
    font-weight: bold;
    font-size: 30px;
}

a.link3:hover {
    font-weight: bold;
    font-size: 28px;
    color: #203064;
}

.link3 {
    color: #960d1d;
    font-size: 23px;
    text-decoration: none;
    padding-top: 10px;
}

#vote {
    height: 40px;    
    margin-top: 4px;
    padding-right: 5px;
    vertical-align: middle;
}

.icons {
    vertical-align: middle;
}

#facebook {
    height: 40px;
    margin-top: 4px;
    padding-right: 5px;
    vertical-align: middle;
}


#family-pic {
    width: 60%;
    float: left;
    margin-right: 20px;
}

.family-container {
    width: 100%;
    height: 610px;
    margin-right: auto;
    margin-left: auto;
    background-color: #203064;
    padding: 15px;
}

#meet {
    font-family: 'Dancing Script', cursive;
    color: white;
    text-align: center;
    font-size: 40px;
}

#meet2 {
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    line-height: 1.3;
}

.meet3 {
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    line-height: 1.3;
    margin-left: 15px;
    margin-right: 15px;
}

#candidate-statement {
    width: 40%;
    background-color: #203064;
    float: right;
    border: 1.5px solid #203064;
    border-top: none;
}

#statement {
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    line-height: 1.3;
    margin: 20px;
    padding-bottom: 10px;
}

.contact-container {
    width: 100%;
    height: 545px;
    margin-right: auto;
    margin-left: auto;
    background-color: #203064;
}

#contact {
    width: 90%;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    margin-left: 40px;
    padding-bottom: 20px;
    padding-top: 35px;
    border-bottom: 4px solid #960d1d;
    margin-right: 35px;
    margin-top: 0;
}

label {
    font-family:'Playfair Display', serif;
    color: white;
    font-size: 20px;
    margin-left: 40px;
    width: 90%;
    display: inline-block;
    margin-top: 6px;
    margin-bottom: 6px;
}

input {
    width: 90%;
    height: 35px;
    color: black;
    font-size: 20px;
    margin-left: 40px;
    border-style: solid;
    border-color: #96042d;
    border-width: 1px;
    font-family:'Playfair Display', serif;
}

button {
    margin-left: 40px;
    font-size: 18px;
    color: white;
    background-color: #96042d;
    margin-top: 10px;
    width: 85px;
    height: 35px;
    font-family:'Playfair Display', serif;
}

textarea {
    font-family:'Playfair Display', serif;
    margin-left: 40px;
    width: 90%;
    font-size: 20px;
}

#pta-pic, #board-pic, #example-pic {
    float: left;
    margin: 15px;
}

.w-100 {
    width: 300px;
}

#pta, #doing, #example {
    background-color: #960d1d;
    border: 1.5px solid #203064;
    width: 100%;
    overflow: auto;
}

#board, #learner {
    background-color: #203064;
    width: 100%;
    overflow: auto;
}

#doing-pic, #learner-pic {
    float: left;
    margin: 15px;
    width: 30%;
}





/* #carouselExampleFade {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
}  */


/* #cs-title {
    color: #203064;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 36px;
    padding-top: 10px;
} */
