* {
    box-sizing: border-box;
}

.all-content-container {
    width: 75%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.all-content-container1 {
    width: 85%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.all-content-container-acc {
    width: 70%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
}

body {
    background-color: #960d1d;
    background-size: cover;
    font-family: 'Playfair Display', serif;
    z-index: -3;
}

#img-back {
    background-image: url('./images/flag6.jpg');
    opacity: .1;
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

#flag {
    width: 60%;
    height: auto;
    border-left: 1.5px solid #203064;
}

.flag-container {
        background: white;
        width: 100%
}

.header {
    width: 100%;
    height: 60px;
    background: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px; 
    border: 1.5px solid #203064;
}

.grid-container-header {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    width: 100%;
    height: 90px;
    margin-right: auto;
    margin-left: auto;
}

.hlink {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 20px;
    color: #203064;
    padding-top: 19px;
    text-decoration: none;
}

a.hlink:hover {
    color: #960d1d;
    font-weight: bold;
    font-size: 25px;
}

#linda-header {
    color: white;
    display: block;
    font-size: 40px;
    font-weight: bold;
}

#school-board-header {
    color: white;
    margin-top: -5px;
    display: block;
    font-size: 27px;
    font-weight: bold;
}

#top-half {
    margin-top: 30px;
}

#statement-header {
    display: block;
    font-size: 45px;
}

#above-header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#above-left {
    width: 60%;
}

#above-right {
    font-family: 'Great Vibes', cursive;
    font-style: italic;
    color: white;
    padding-top: 43px;
    width: 40%;
    text-align: right;
    font-size: 50px;
}

#blue-background {
    background-color: #203064;
    width: 100%;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
}

#blue-background1 {
    background-color: #203064;
    width: 60%;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
}

#red-background1 {
    background-color: white;
    width: 60%; 
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    border: 1.5px solid #203064;
    border-top: none;
    border-right: none;
}

#red-background {
    background-color: white;
    width: 100%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
}

.link2 {
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    font-size: 25px;
    padding-top: 22px;
}

a.link2:hover {
    font-weight: bold;
    font-size: 30px;
}

a.link3:hover {
    font-weight: bold;
    font-size: 28px;
    color: #203064;
}

.link3 {
    color: #960d1d;
    font-size: 23px;
    text-decoration: none;
    padding-top: 10px;
}

#vote {
    height: 40px;    
    margin-top: 4px;
    padding-right: 5px;
    vertical-align: middle;
}

.icons {
    vertical-align: middle;
}

#facebook {
    height: 40px;
    margin-top: 4px;
    padding-right: 5px;
    vertical-align: middle;
}

#family-pic {
    width: 60%;
    float: left;
    margin-right: 20px;
}

.family-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #203064;
    padding: 15px;
    overflow: auto;
}

#carousel-container {
    width: 100%;
    overflow: auto;
    margin-right: auto;
    margin-left: auto;
    background-color: #203064;
    padding: 15px;
}

#meet {
    font-family: 'Great Vibes', cursive;
    color: white;
    text-align: center;
    font-size: 40px;
}

#meet2 {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    line-height: 1.35;
}

.meet3 {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    line-height: 1.3;
    margin-left: 15px;
    margin-right: 15px;
}

li {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    line-height: 1.3;
    margin-left: 32px;
    margin-right: 15px;
    padding-left: 15px;
    list-style-position: inside;
    text-indent: -1.5em;
}

#candidate-statement {
    width: 40%;
    background-color: #203064;
    float: right;
    border: 1.5px solid #203064;
    border-top: none;
}

#statement {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    margin: 20px;
    padding-bottom: 10px;
}

.contact-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #203064;
}

#contact {
    width: 90%;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    margin-left: 40px;
    padding-bottom: 20px;
    padding-top: 35px;
    border-bottom: 4px solid #960d1d;
    margin-right: 35px;
    margin-top: 0;
}

label {
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 20px;
    margin-left: 40px;
    width: 90%;
    display: inline-block;
    margin-top: 6px;
    margin-bottom: 6px;
}

input {
    width: 90%;
    height: 35px;
    color: black;
    font-size: 20px;
    margin-left: 40px;
    border-style: solid;
    border-color: #96042d;
    border-width: 1px;
    font-family: 'Rubik', sans-serif;
}

button {
    margin-left: 40px;
    font-size: 18px;
    color: white;
    background-color: #96042d;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 85px;
    height: 35px;
    font-family: 'Rubik', sans-serif;
}

textarea {
    font-family: 'Rubik', sans-serif;
    margin-left: 40px;
    width: 90%;
    font-size: 20px;
}

#pta-pic, #board-pic, #example-pic {
    float: left;
    margin: 15px;
}

#pta, #doing, #example {
    background-color: #960d1d;
    border: 1.5px solid #203064;
    width: 100%;
    overflow: auto;
}

#board, #learner, #about-endorsements {
    background-color: #203064;
    width: 100%;
    overflow: auto;
}

#about-endorsements {
    border-bottom: 1px solid white;
}

#doing-pic, #learner-pic {
    float: left;
    margin: 15px;
    width: 30%;
}

#learner-pic {
    float: left;
    margin: 15px;
    width: 30%;
    margin-right: 45px;
}

.pic-header {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
}

.pic-p {
    font-family: 'Rubik', sans-serif;
    font-size: 21px;
}

.carousel-inner {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.btn {
    width: 90px;
    height: 35px;
    background-color: #203064;
    font-size: 16px;
    position: absolute;
    right: 15px;
    top: 60px;
}

.dropdown-item {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    color: #203064;
}

.dropdown-item:hover {
    color: #960d1d;
    font-weight: bold;
    background-color: #f8f9fa;
}

.dropdown {
    display: none;
}

span {
    text-decoration-line: underline;
    font-style: oblique;
    font-weight: bold;
}

#my-endorsements {
    font-weight: bold;
    font-style: oblique;
    font-size: 25px;
    text-align: center;
}

.abt-pic {
    float: left;
}

::placeholder {
    color: rgb(168, 151, 151);
}

.donate-message, .donate-need {
    width: 90%;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    margin-left: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-right: 35px;
    margin-top: 0;
}

.map-container {
    width: 100%;
    background-color: #203064;
    padding: 30px;
    overflow: auto;
}

.district-map-title {
    color: #203064;
    font-family: 'Rubik', sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
}

.area-map-title {
    color: #203064;
    font-family: 'Rubik', sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 27px;
}

#dist-map-container {
    padding-top: 10px;
    position: relative;
    float: right;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
}

#area-map-container {
    position: relative;
    float: left;
    display: flex;
    justify-content: space-evenly;
    width: 95%;
}

#area-map {
    border: 3px solid #960d1d;
    float: left;
}

#district-map {
    border: 3px solid #960d1d;
    width: 95%;
}

#map-words {
    background-color: rgb(245, 238, 238);
    border: 3px solid #960d1d;
    width: 60%;
    font-family: 'Rubik', sans-serif;
    color: #203064;
    padding: 5px;
}

h1.map-info {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;

}

h2.map-info {
    text-align: center;
}

h3.map-info {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding-top: 15px;
}

li.map-info {
    color: #960d1d;
}

#area-map-title {
    position: relative;
}

h1.donate-info {
    font-size: 27px;
    text-align: center;
}

p.donate-info {
    line-height: .7;
}

.und {
    text-decoration: underline;
}

#requirements {
    display: flex;
    justify-content: space-evenly;
}

h3.donate-info  {
    text-align: center;
    font-size: 18px;
}

#disclaimer {
    color: whitesmoke;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
  }

  .endorse-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #203064;
    padding: 15px;
    overflow: auto;
    color: white;
    font-size: 18px;
    padding-left: 40px;
  }

  th {
      text-align: center;
  }

#thanks {
    color:white;
    font-family: 'Great Vibes', cursive;
    text-align: center;
    padding: 0;
    font-size: 35px;
}